body {
  font-family: sans-serif;
}

main {
  display: flex;
  justify-content: space-evenly;
}

.pokemon-list {
  background-color: aqua;
  width: 140px;
  border-radius: 4%;
  box-shadow: 4px 4px;
}

.pokemon-card {
  background-color: aquamarine;
  width: 90px;
  border-radius: 4%;
  box-shadow: 4px 4px;
}
